# Artefactos NetBeans que no quiero subir
build/
dist/
nbproject/private/

# Compilados Java
*.class
*.log

# Ruido del sistema operativo
.DS_Store
Thumbs.db
/remote-filesystem-with-sockets-example/sockets-client/target/
/remote-filesystem-with-sockets-example/sockets-server/target/
/lab-applets-servlets/html-response-servlet-shopping/target/
/thread-image-processing/target/
